#banner{
	height: 200px;
}

#login-box, #glyedit-box{
	position: absolute;
	width: 500px;
	background: #fff;
	top: 50px;
	left: 50%;
	margin-left: -250px;
	margin-bottom: 50px;
	border-top: 1px solid #08C552;
}
#login-box .box{
	padding: 50px 80px 80px;
}
#glyedit-box .box{
	text-align: center;
	padding: 50px 80px 50px;
}
#glyedit-box .box:last-child{
	padding: 0 80px 50px;
}

input.form-control{
	/*padding: 10px 20px;*/
	height: 40px;
	box-sizing: border-box;
	width: 100%;
	margin-top: 20px;
}
select.form-control{
	box-sizing: border-box;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #ddd;
	padding: 10px 12px;
}
select.form-control option{
	line-height: 30px;
	height: 30px;
	padding: 50px 0;
}
.form-title{
	font-size: 24px;
	text-align: center;
}
.form-btn{
	background-image: linear-gradient(to right, #08c552, #14cb9d);
	width: 100%;
	line-height: 40px;
	display: block;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}

#sbedit-box{
	margin-bottom: 50px;
	position: absolute;
	width: 500px;
	background: #fff;
	top: 50px;
	left: 50%;
	margin-left: -250px;
	border-top: 1px solid #08C552;
}
#sbedit-box .box{
	padding: 50px;
}

.form-label{
	width: 30%;
	text-align: right;
	margin-right: 2%;
	color: #999;
}

.form-control-half{
	width: 60%!important;
	margin-top:0!important;
}
.form-row{
	margin-top: 20px;
	position: relative;
}
.form-must-icon{
	position: absolute;
	right: 10px;
	top: 0;
	color: #ea4235;
}

#myPrintArea{
	background: #fff;
}

#filter-box{
	margin: 20px 0;
	background: #eee;
	padding: 10px 10px 80px;
	position: relative;
}
#filter-box .row{
	margin-top: 10px;
}

#filter-box .form-btn{
	background-image: linear-gradient(to right, #08c552, #14cb9d);
	width: 100px;
	line-height: 36px;
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	border: 0;
}
#filter-box .filter_bottom{
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 98%;
}
#filter-box .filter_bottom .more{
	color: #08c552;
	position: absolute;
	right: 20px;
	top: 26px;
	cursor: pointer;
}

.form-btn-sm{
	background-image: linear-gradient(to right, #08c552, #14cb9d);
	width: 100px;
	line-height: 36px;
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	border: 0;
}

#glyedit-box #roles{
	margin-top: 20px;
}