.map-market{
	top: 0;
	left: 0;
}
.map-market__item{
	background: #d6f5d6;
	padding-top: 80px; 
	box-sizing: border-box;
	position: absolute;
	text-align: center;
	font-size: 14px;
	transition: all .2s;-webkit-transition: all .2s;-moz-transition: all .2s;-o-transition: all .2s;
}
.map-market__item:hover{
	background: #9ce8ba;
}
.map-market__item:hover .map-market__item__link{
	opacity: 1;
}
.map-market__item.undetected{
	background: #ffe599;
}
.map-market__item.undetected .map-market__item__link{
	border: 1px solid #febd01;
}
.map-market__item.undetected:hover{
	background: #fed767;
}
.map-market__item.invalid{
	background: #f4cac7;
}
.map-market__item.invalid .map-market__item__link{
	border: 1px solid #ea4235;
}
.map-market__item.invalid:hover{
	background: #f4a09a;
}

.map-market__item__link{
	display: inline-block;
	line-height: 30px;
	padding: 0 20px;
	border-radius: 14.5px;
	background-color: #ffffff;
	border: solid 1px #08c552;
	font-size: 12px;
	margin-top: 10px;
	opacity: 0;
	transition: all .2s;-webkit-transition: all .2s;-moz-transition: all .2s;-o-transition: all .2s;
}
.map-market__item__num{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px;
}

.map-market__item.undetected .map-market__item__num{
	color: #333;
}
.map-market__item.invalid .map-market__item__num{
	color: #ea4235;
}
.map-market__item1{
	padding-top: 30px;
	width: 882.5px;
	height: 112.4px;
	left: 73px;
}
.map-market__item2{
	padding: 100px 10px;
	width: 38.1px;
	height: 515.6px;
	top: 114.43px;
}
.map-market__item2 .map-market__item__link{
	padding: 3px;
	line-height: 20px;
}
.map-market__item3{
	top: 202px;
	left: 76px;
	width: 345px;
	height: 209.3px;
}
.map-market__item4{
	top: 420px;
	left: 76px;
	width: 345px;
	height: 209.4px;
}
.map-market__item5{
	top: 656px;
	left: 76px;
	width: 176.9px;
	height: 92.5px;
	padding-top: 20px;
}
.map-market__item6{
	top: 656px;
	left: 253px;
	width: 176.9px;
	height: 92.5px;
	padding-top: 20px;
	border-left: 1px solid #f5f5f5;
}
.map-market__item7{
	top: 788px;
	left: 76px;
	width: 345px;
	height: 138.9px;
	padding-top: 30px;
}
.map-market__item8{
	top: 932px;
	left: 75px;
	width: 345px;
	height: 139.9px;
	padding-top: 30px;
}
.map-market__item9{
	top: 1081px;
	left: 76px;
	width: 345px;
	height: 138.9px;
	padding-top: 30px;
}
.map-market__item10{
	top: 202px;
	left: 459px;
	width: 356.2px;
	height: 171.9px;
	padding-top: 50px;
}
.map-market__item11{
	top: 379px;
	left: 459px;
	width: 356.2px;
	height: 174.9px;
	padding-top: 50px;
}
.map-market__item12{
	top: 560px;
	left: 459px;
	width: 356.2px;
	height: 174.1px;
	padding-top: 50px;
}
.map-market__item13{
	top: 788px;
	left: 470px;
	width: 344.9px;
	height: 213.8px;
	padding-top: 50px;
}
.map-market__item14{
	top: 1008px;
	left: 470px;
	width: 344.9px;
	height: 213.8px;
}
.map-market__item15{
	padding: 100px 22px;
	width: 67.2px;
	height: 489.2px;
	left: 890px;
	top: 202px;
}
.map-market__item15 .map-market__item__link{
	padding: 3px;
	line-height: 20px;
}
.map-market__item16{
	padding: 100px 22px;
	width: 67.2px;
	height: 549px;
	left: 890px;
	top: 762px;
	
}
.map-market__item16 .map-market__item__link{
	padding: 3px;
	line-height: 20px;
}
.map-market__item17{
	padding-top: 10px;
	width: 412.1px;
	height: 72.8px;
	left: 0;
	top: 1238px;
}
.map-market__item17 .map-market__item__link{
	margin-top: 3px;
}
.map-market__item18{
	padding-top: 10px;
	width: 421px;
	height: 72.8px;
	left: 469px;
	top: 1238px;
	border-right: 1px solid #f5f5f5;
}
.map-market__item18 .map-market__item__link{
	margin-top: 3px;
}